#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.appWrapper {
  width: 50rem;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.newTodoWrapper {
  display: flex;
  align-items: center;
  gap: 4rem;
  margin-bottom: 4rem;
}

.input {
  width: 20rem;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  border: none;
}

.addButton {
  outline: none;
}

.todosWrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  min-height: 400px;
}

.todoWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid gray;
}

.todoCheckbox {
  height: 15px;
  width: 15px;
  margin-right: 1rem;
}

.todoTitle {
  flex-grow: 1;
  text-align: left;
}

.todoButtons {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 12px;
  margin-left: auto;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 3rem;
}